body {
  background-color: #393e46;
}

h1 {
  font-family: "Lobster Two", cursive;
  font-size: 8rem;
  color: #4ecca3;
}

.top-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.dice-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.paragraph-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

p {
  font-family: "Indie Flower", cursive;
  font-size: 4rem;
  color: #4ecca3;
}

footer {
  display: flex;
  justify-content: center;
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
  color: white;
}
