/* body {
  background-color: #393e46;
}

h1 {
  font-family: "Lobster Two", cursive;
  font-size: 10rem;
  color: #4ecca3;
}

.top-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.dice-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.invisible {
  visibility: hidden;
}

.paragraph-container {
  margin-bottom: 100px;
}

p {
  display: flex;
  justify-content: center;
  font-family: "Indie Flower", cursive;
  font-size: 3rem;
  color: #4ecca3;
}

footer {
  display: flex;
  justify-content: center;
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
  color: white;
} */
